body {
    background-color: #233347;
    margin: 0;
}

header {
    display: flex;
    min-height: 70px;
    background-color: #000e3057;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(119, 119, 119);
    text-decoration: none;
    font-weight: bold;
    margin-right: 33px;
}

nav a:hover {
    color: white;
    transition: 0.33s;
}

.logo img {
    display: flex;
    align-items: center;
    color: white;
    width: 30%;
    margin-left: 33px;
    padding: 1.1%;
}

/* Estilos para el menú desplegable */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000e30;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(119, 119, 119);
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: color 0.33s;
    /* Agrega transición de color aquí */
}

.dropdown-content a:hover {
    color: white;
}

.dropbtn {
    margin-right: 33px;
    transition: color 0.33s;
}

/* Mostrar el menú desplegable al pasar el ratón sobre el botón */
.dropdown:hover .dropdown-content {
    display: block;
    transition: display 0.33s;
}

/* Aplicar transición al color del texto para todas las opciones */
nav a {
    transition: color 0.33s;
}

/* Cambiar color al pasar el ratón sobre cualquier opción del menú */
nav a:hover {
    color: white;
}