#parrafo1 {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 1cm;
    margin-top: 1cm;
    width: 33cm;
}

#east_blue {
    width: 33%;
    margin-top: -120px;
    margin-left: 1250px;
}

#parrafo2 {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 1cm;
    margin-top: -150px;
    width: 30cm;
}

#parrafo3 {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 1cm;
    margin-top: 1cm;
    width: 45cm;
}

#parrafo4 {
    color: silver;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 600px;
    margin-top: 1cm;
    width: 30cm;
}

#skypiea {
    width: 25%;
    margin-left: 100px;
    margin-top: -200px;
}

#parrafo5 {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 1cm;
    margin-top: 1cm;
    width: 45cm;
}

#parrafo6 {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 1cm;
    margin-top: 1cm;
    width: 45cm;
}

#marineford {
    width: 30%;
    margin-left: 1300px;
    margin-top: -300px;
}

#dressrosa {
    width: 15%;
    margin-left: 1cm;
    margin-top: -230px;
}

#parrafo8 {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 1cm;
    margin-top: -4cm;
    width: 45cm;
}

#parrafo9 {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 1cm;
    margin-top: 1cm;
    width: 28cm;
}

#wano {
    width: 35%;
    margin-left: 1150px;
    margin-top: -300px;
}