#parrafo1 {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 1cm;
    width: 25cm;
}

#oda1 {
    margin-left: 1200px;
    margin-top: -500px;
}

#vida-oda {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-top: -350px;
    margin-left: 1cm;
    width: 25cm;
}

#carrera-oda {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 1cm;
    width: 25cm;
}

#oda2 {
    margin-left: 1200px;
    margin-top: -600px;
}