#luffy {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#luffy-debut {
    margin-left: 1350px;
    margin-top: -600px;
}

#zoro {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 66%;
    text-align: right;
    margin-left: 26%;
    margin-top: 3%;
}

#zoro-actual {
    width: 15%;
    margin-top: -620px;
    margin-left: 1cm;
}

#nami {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#nami-actual {
    width: 20%;
    margin-left: 1350px;
    margin-top: -550px;
}

#usopp {
    font-size: larger;
        color: silver;
        font-family: Arial, Helvetica, sans-serif;
        width: 66%;
        text-align: right;
        margin-left: 26%;
        margin-top: 3%;
}

#usopp-actual {
    width: 17%;
    margin-top: -580px;
    margin-left: 1cm;
}

#sanji {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#sanji-actual {
    margin-left: 1350px;
    margin-top: -790px;
    width: 15%;
}

#chopper {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 66%;
    text-align: right;
    margin-left: 26%;
    margin-top: 3%;
}

#chopper-actual {
    width: 15%;
    margin-top: -620px;
    margin-left: 1cm;
}

#robin {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#robin-actual {
    width: 20%;
    margin-left: 1350px;
    margin-top: -630px;
}

#franky {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 66%;
    text-align: right;
    margin-left: 26%;
    margin-top: 3%;
}

#franky-actual {
    width: 20%;
    margin-top: -690px;
    margin-left: 1cm;
}

#brook {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#brook-actual {
    width: 15%;
    margin-left: 1350px;
    margin-top: -630px;
}

#jinbe {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 66%;
    text-align: right;
    margin-left: 26%;
    margin-top: 3%;
}

#jinbe-actual {
    width: 22%;
    margin-top: -700px;
    margin-left: 1cm;
}