#arlong {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#arlong-debut {
    width: 15%;
    margin-left: 1350px;
    margin-top: -400px;
}

#crocodile {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 66%;
    text-align: right;
    margin-left: 26%;
    margin-top: 3%;
}

#crocodile-debut {
    width: 15%;
    margin-top: -250px;
    margin-left: 1cm;
}

#enel {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#enel-debut {
    width: 15%;
    margin-left: 1350px;
    margin-top: -400px;
}

#cp9 {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 66%;
    text-align: right;
    margin-left: 26%;
    margin-top: 3%;
}

#cp9-debut {
    width: 20%;
    margin-top: -250px;
    margin-left: 1cm;
}

#moria {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#moria-debut {
    width: 18%;
    margin-left: 1350px;
    margin-top: -400px;
}

#marina {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 66%;
    text-align: right;
    margin-left: 26%;
    margin-top: 3%;
}

#marina-debut {
    width: 20%;
    margin-top: -250px;
    margin-left: 1cm;
}

#hody {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#hody-debut {
    width: 20%;
    margin-left: 1350px;
    margin-top: -400px;
}

#cesar {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 66%;
    text-align: right;
    margin-left: 26%;
    margin-top: 3%;
}

#cesar-debut {
    width: 20%;
    margin-top: -350px;
    margin-left: 1cm;
}

#doffy {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#doffy-debut {
    width: 20%;
    margin-left: 1350px;
    margin-top: -400px;
}

#mom {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 66%;
    text-align: right;
    margin-left: 26%;
    margin-top: 3%;
}

#mom-debut {
    width: 20%;
    margin-top: -350px;
    margin-left: 1cm;
}

#kaido {
    font-size: larger;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin-left: 1%;
    margin-top: 3%;
}

#kaido-debut {
    width: 20%;
    margin-left: 1350px;
    margin-top: -400px;
}