#imagenes1 {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}

#arte1, #arte2, #arte3, #arte4, #arte7 {
    width: 100%;
}

#arte6 {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#imagenes2 {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}

#arte8, #arte9, #arte10, #arte11, #arte12 {
    width: 100%;
}

#arte13 {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}