#comunidad1 {
    margin-left: 3%;
    display: grid;

}

#nohit, #final1, #final2, #final3, #final3, #final4 {
    width: 65%;

}

footer {
    text-align: center;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 25px;
}