#img {
    text-align: right;
    margin-right: 10%;
    margin-top: -25%;
}

#calabazas {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    align-items: end;
    justify-content: end;
    margin-right: 10%;
    margin-top: -30%;
}