#camisetas, #posters1 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

#posters2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
}

#figuras {
    display: grid;
        grid-template-columns: repeat(3, 2fr);
        align-items: center;
        justify-content: center;
        margin-left: 5%;
}

.poster-left {
    justify-self: start;
}

.poster-right {
    justify-self: end;
}

#artPosters {
    text-align: center;
    grid-column: 1 / -1;
    margin-top: -14%;
}